body{
    font-family: fantasy, comic, serif;
    line-height: 1.5;
    font-size: 20px;
    text-align: center;
}
header{
color:rgb(234,100,054);
}
 background{
     background-image: url(https://pics.me.me/live-breaking-news-despacito-2-7-are-now-illegal-19-55e-bruh-33866836.png)
 }